<?xml version='1.0' encoding='us-ascii'?>
<launcher>
    <tray-icons>
        <main>images/launcher.png</main>
        <quit>images/control_eject_blue.png</quit>
        <refresh>images/arrow_refresh.png</refresh>
        <terminal>images/application_osx_terminal.png</terminal>
    </tray-icons>

    <!--  ****************************************************************** -->
    <!--                                                                     -->
    <!--  ****************************************************************** -->

    <item label="Terminal" cmd="/usr/bin/open" icon="terminal">
        <arg value="/Applications/Utilities/Terminal.app"/>
    </item>
    <item label="MacVim"  cmd="/usr/bin/open">
        <arg value="/Applications/MacVim.app"/>
    </item>

    <item label="separator"/>

    <item label="mac">
        <item label="Terminal" cmd="/usr/bin/open" icon="terminal">
            <arg value="/Applications/Utilities/Terminal.app"/>
        </item>
        <item label="MacVim"  cmd="/usr/bin/open">
            <arg value="/Applications/MacVim.app"/>
        </item>
    </item>

    <item label="separator"/>

    <item label="Terminal" cmd="/usr/bin/xterm" icon="terminal">
        <arg value="-ls"/>
        <arg value="-sb"/>
        <arg value="-bg"/>
        <arg value="black"/>
        <arg value="-fg"/>
        <arg value="lightgray"/>
    </item>

</launcher>

